<!-- <h1><= current_user.try.fb_likes ></h1> -->
<h1>you are in</h1>
<%= image_tag current_user.image %>


<ul>
	<%current_user.matched_users.each do |user|%>
		<li>
			<%= user.name %>, 
			<%= user.attributes['likes_count'] %>,
			<%= user.common_interests(current_user) %>
			<%= link_to "Add Wingman" %>
		</li>
	<% end %>

</ul>
