<!-- <h1><= current_user.try.fb_likes ></h1> -->
<h1>you are in</h1>
<%= image_sized current_user.image, "large" %>
<%= link_to current_user.name, current_user%>
<div id='index' class="sixteen columns">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <%current_user.matched_users.each_with_index do |user, index|%>
          <div id='wingmen'class="gradientBoxesWithOuterShadows item <% if index == 0 %>active<% end %>">
             <p><%= user.name %> &nbsp <%= image_sized user.image, "small" %> </p>
          <p><%= user.blurb %></p>
          <p>Likes in Common: <%= user.attributes['likes_count'] %></p>
          <%= user.common_interests(current_user).to_sentence %>
          <%= button_to "Add Wingman", friendships_path(:friend_id => user), :method => :post %>
          </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
  
  	<%current_user.matched_users.each do |user|%>
    <div class='gradientBoxesWithOuterShadows item'>
  			<p><%= user.name %> &nbsp <%= image_sized user.image, "small" %> </p>
        <p><%= user.blurb %></p>
  			<p>Likes in Common: <%= user.attributes['likes_count'] %></p>
  			<%= user.common_interests(current_user).to_sentence %>
  			<%= button_to "Add Wingman", friendships_path(:friend_id => user), :method => :post %>
    </div>
  	<% end %>

