<!-- <h1><= current_user.try.fb_likes ></h1> -->
<h1>you are in</h1>
<%= image_sized current_user.image, "large" %>
<%= link_to current_user.name, current_user%>


  
  	<%current_user.matched_users.each do |user|%>
    <div class='gradientBoxesWithOuterShadows'>
  			<p><%= user.name %> &nbsp <%= image_sized user.image, "small" %> </p>
        <p><%= user.blurb %></p>
  			<p>Likes in Common: <%= user.attributes['likes_count'] %></p>
  			<%= user.common_interests(current_user).to_sentence %>
  			<%= link_to "Add Wingman", friendships_path(:friend_id => user), :method => :post %>
    </div>
  	<% end %>
