<!-- <h1><= current_user.try.fb_likes ></h1> -->
<div id='index' class="sixteen columns">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <%current_user.matched_users.each_with_index do |user, index|%>
          <div id='wingmen'class="gradientBoxesWithOuterShadows item <% if index == 0 %>active<% end %>">
             <p><%= user.name %> &nbsp <%= image_sized user.image, "small" %> </p>
          <p><%= user.blurb %></p>
          <p>Likes in Common: <%= user.attributes['likes_count'] %></p>
          <%= user.common_interests(current_user).to_sentence %>
          <%= button_to "Add Wingman", friendships_path(:friend_id => user), :method => :post %>
            <div class="carousel-caption">
            </div>
          </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

