<h1>My Profile</h1>

<p>Name: <%=h @user.name %></p>
<p>Image: <%= image_tag @user.image %></p>

<h2>Wingmen You Added</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "See Wingmen", users_path %></p>

<h2>Wingmen Added You</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li>Name: <%=h user.name %></li>
    <li>Location: <%=h user.location %></li>
    <li>Contact: <%=h user.phone %></li>
    <li>Meetup: <%= @clients.name  %></li>
  <% end %>
</ul>

