<h1>Wingman Profile</h1>
<div>
  <p>Name: <%=h @user.name %></p>
  <p>Image: <%= image_tag @user.image %></p>
</div>
<h2>Wingmen You Added</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "See Wingmen", users_path %></p>

<h2>Wingmen Added You</h2>
<div>
  <% for user in @user.inverse_friends %>
    <h3>Name: <%=h user.name %></h3>
    <h4>Location: <%=h user.location %></h4>
    <h4>Contact: <%=h user.phone %></h4>
    <div>Meetup: 
    	<p> Because of: <%= @clients[:interests].first %></p>
    	<% @clients[:venues].each do |client| %>
    	<h1><%= client.name %></h1>	
    	<p><%= client.categories.first.name %></p>
    	<p><%= client.stats.checkinsCount %>check ins</p>
    	<% end %>
    </div>
  <% end %>
</div>


