<div class="container">
  <div id="Profile" class="sixteen columns">
    <h1>Wingman Profile</h1>
    <div class='gradientBoxesWithOuterShadows'>
      <p><%= image_sized @user.image, "large" %></p>
      <h3><%=h @user.name %></h3>
      <p><%=h @user.blurb %></p>
      <p>Location: <%=h @user.location %></p>
      <p>Contact: <%=h @user.phone %></p>
      <p> Likes:
        <% @user.interests.each do |user| %>
        <%= user.name %>
        <% end %> 
      </p>
    </div>
    <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
    <p><%= link_to "See Wingmen", users_path %></p>
  </div>
  <div id="YouAdded" class="eight columns"> 
    <h2>Wingmen You Added</h2>
    <ul>
      <% @user.friendships.each do |friendship| %>
        <li>
          <%=h friendship.friend.name %>
          (<%= link_to "remove", friendship, :method => :delete %>)
        </li>
      <% end %>
    </ul>
  </div>

  
  <div id="TheyAdded" class="eight columns"> 
    <h2>Wingmen Added You</h2>
    <% @user.inverse_friends.each do |user| %>
      <div class='gradientBoxesWithOuterShadows'>
        <h3>Name: <%=h user.name %></h3>
        <h4><%= image_sized user.image, "large" %></h4>
        <h4>Location: <%=h user.location %></h4>
        <h4>Contact: <%=h user.phone %></h4>
        <p>Discuss your common interest <%= @clients[:interests].first %> at </p>
        <% @clients[:venues].each do |client| %>
          <h4><%= client.name %></h4>	
          <p><%= (client.categories.first.name rescue nil) %></p>
          <p><%= client.stats.checkinsCount %> check ins</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

